@font-face {
    font-family: 'GmarketSansB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'GmarketSansM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr, .notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}