html,body{margin: 0 auto !important; width:100%;height: 100%;box-sizing: border-box;}

/* defalt */
.inner{display: block;position: relative;max-width: 1400px;width: 100%;
height: 100%; margin: 0 auto;}

/* header */
#hd{width: 100%;}
.header_wrap{display: flex;justify-content: space-between;align-items: center;height: 100px;}
.header_wrap h1 img{width: 124px;height: 100%;margin-right: 3%;}

.gnb{width: 60%;}
ul.depth1{display: flex;justify-content: space-between;align-items: center;}
.depth1>li>a{font-family: 'GmarketSansB', sans-serif;font-size: 21px;color: #134aa9; transition: all 0.3s ease;text-decoration: none;}
.depth2{display: none;}

.util{width: 14%;margin-left: 3%;}
ul.util_menu{display: flex;justify-content: space-between;align-items: center;}
.util_menu>li>a{font-family: 'Noto Sans KR', sans-serif;font-size: 14px;color: #134aa9;text-decoration: none;}
